
body {
    display: block;
    position: relative;
    
}

.mainTitle {
    display: block;
    width: 100%;
    margin: 2px;
    padding: 2px;
    text-align: center;

}

.container {
    display: flex;
    position:relative;
    width: 100%;

}

.searchSection {
    display: inline-block;
    position: relative;
    width: 400px;
    height: 508px;
    margin: 2px;
    padding: 2px;

}

.searchCity {
    width: 100%;
    height: 15%;
    border: 1px solid blue;
    margin: 2px;
    padding: 2px;

}

.historyItems {
    text-align: center;
    width: 100%;
    height: 84%;
    border: 1px solid blue;
    margin: 2px;
    padding: 2px;
}

.btnList {
    width: 100%;
    margin: 1px;
    padding: 1px;
}

.fullForecast {
    width: 100%;
    height: 500px;
    margin: 2px;
    padding: 2px;
}

.todayForecast {
    position: relative;
    width: 100%;
    height: 50%;
    border: 1px solid blue;
    margin: 2px;
    padding: 2px;
   
}

.fiveDays {
    position: relative;
    width: 100%;
    height: 50%;
    margin: 2px;
    padding: 2px;
   
}
.fivebox {
    display: flex;
    position: relative;
}

.boxes {
    width: 100%;
    height: 190px;
    border: 1px solid blue;
    margin: 2px;
    padding: 2px;
}